In [42]:
import pandas as pd

/var/folders/m3/wzjr402d7_l04qbtd4y50gv80000gn/T/ipykernel_2970/2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# 1. Load the data

In [44]:
df = pd.read_csv('students.csv')

# 2. Display the first 5 rows of the dataframe

In [45]:
df.head()

,id,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city
0,0,Леопольд,Верхола,1999-03-12,31.0,8,4,Male,Запоріжжя
1,1,Семен,Сиротенко,2001-02-02,22.0,9,0,Male,Помічна
2,2,Макар,Гаєвський,1999-02-25,89.0,10,4,Male,Ірпінь
3,3,Лесь,Лисенко,1998-03-15,98.0,5,4,Male,Лебедин
4,4,Лариса,Гайдабура,2004-05-05,46.0,0,0,Female,Нова Одеса

# 3. Set the 'id' column as the index of the dataframe

In [47]:
df.set_index('id', inplace=True)

KeyError: "None of ['id'] are in the columns"

In [48]:
df.head()

,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city
id,,,,,,,,
0,Леопольд,Верхола,1999-03-12,31.0,8,4,Male,Запоріжжя
1,Семен,Сиротенко,2001-02-02,22.0,9,0,Male,Помічна
2,Макар,Гаєвський,1999-02-25,89.0,10,4,Male,Ірпінь
3,Лесь,Лисенко,1998-03-15,98.0,5,4,Male,Лебедин
4,Лариса,Гайдабура,2004-05-05,46.0,0,0,Female,Нова Одеса

# 4. Remove rows without an `average_mark` value

In [49]:
df.dropna(subset=['average_mark'], inplace=True)

In [50]:
df.head()

,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city
id,,,,,,,,
0,Леопольд,Верхола,1999-03-12,31.0,8,4,Male,Запоріжжя
1,Семен,Сиротенко,2001-02-02,22.0,9,0,Male,Помічна
2,Макар,Гаєвський,1999-02-25,89.0,10,4,Male,Ірпінь
3,Лесь,Лисенко,1998-03-15,98.0,5,4,Male,Лебедин
4,Лариса,Гайдабура,2004-05-05,46.0,0,0,Female,Нова Одеса

# 5. Display an average mark of students

In [51]:
df['average_mark'].mean()

50.71515151515152

In [52]:
df.describe()

       average_mark  count_of_lessons_absent  count_of_lessons_sick
count    990.000000               990.000000             990.000000
mean      50.715152                 5.058586               2.592929
std       28.863538                 3.153409               2.577210
min        1.000000                 0.000000               0.000000
25%       26.250000                 2.000000               0.000000
50%       50.000000                 5.000000               2.000000
75%       76.750000                 8.000000               4.000000
max      100.000000                10.000000              10.000000

# 6. Display an average age from `birth_date`

In [55]:
df['birth_date'] = pd.to_datetime(df['birth_date'])
df['age'] = (pd.to_datetime('today') - df['birth_date']).map(lambda value: value.total_seconds() / (60*60*24*365))

In [56]:
df.head()

,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city,age
id,,,,,,,,,
0,Леопольд,Верхола,1999-03-12,31.0,8,4,Male,Запоріжжя,24.963978
1,Семен,Сиротенко,2001-02-02,22.0,9,0,Male,Помічна,23.065348
2,Макар,Гаєвський,1999-02-25,89.0,10,4,Male,Ірпінь,25.005074
3,Лесь,Лисенко,1998-03-15,98.0,5,4,Male,Лебедин,25.955758
4,Лариса,Гайдабура,2004-05-05,46.0,0,0,Female,Нова Одеса,19.810553

In [57]:
average_age = df['age'].mean()
average_age

22.997634766813068

# 7. Display average mark per gender

In [67]:
df.groupby("gender")['average_mark'].mean()

gender
Female    50.256842
Male      51.137864
Name: average_mark, dtype: float64

# 8. Display the youngest student

In [68]:
df[df['age'] == df['age'].min()]

,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city,age
id,,,,,,,,,
946,Олена,Дробаха,2009-01-23,18.0,3,3,Female,Мостиська,15.087265

In [69]:
df.sort_values('age').head(1)

,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city,age
id,,,,,,,,,
946,Олена,Дробаха,2009-01-23,18.0,3,3,Female,Мостиська,15.087265

In [70]:
df.nsmallest(1, 'age')

,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city,age
id,,,,,,,,,
946,Олена,Дробаха,2009-01-23,18.0,3,3,Female,Мостиська,15.087265

In [71]:
df.loc[df['age'].idxmin()]

first_name                               Олена
last_name                              Дробаха
birth_date                 2009-01-23 00:00:00
average_mark                              18.0
count_of_lessons_absent                      3
count_of_lessons_sick                        3
gender                                  Female
city                                 Мостиська
age                                  15.087265
Name: 946, dtype: object

# 9. Series is either df row or df column

In [72]:
df['average_mark']

id
0      31.0
1      22.0
2      89.0
3      98.0
4      46.0
       ...
995    34.0
996    37.0
997    58.0
998    92.0
999    63.0
Name: average_mark, Length: 990, dtype: float64

In [73]:
df.iloc[0]

first_name                            Леопольд
last_name                              Верхола
birth_date                 1999-03-12 00:00:00
average_mark                              31.0
count_of_lessons_absent                      8
count_of_lessons_sick                        4
gender                                    Male
city                                 Запоріжжя
age                                  24.963978
Name: 0, dtype: object

# 10. Display all possible means of the dataframe

In [76]:
df[['average_mark', 'count_of_lessons_absent', 'count_of_lessons_sick']].mean()

average_mark               50.715152
count_of_lessons_absent     5.058586
count_of_lessons_sick       2.592929
dtype: float64

# 11. Display all possible values of 'city' column

In [81]:
df['city'].unique()

array(['Запоріжжя', 'Помічна', 'Ірпінь', 'Лебедин', 'Нова Одеса', 'Рудки',
       'Сімферополь', 'Алчевськ', 'Перечин', 'Мерефа', 'Українськ',
       'Мирноград', 'Коломия', 'Харцизьк', 'Горохів', 'Севастополь',
       'Миронівка', 'Зеленодольськ', 'Путивль', 'Жмеринка', 'Покровськ',
       'Ромни', 'Горлівка', 'Вознесенськ', 'Косів', 'Верхньодніпровськ',
       'Кілія', 'Василівка ', "Знам'янка", 'Амвросіївка', 'Привілля',
       'Гірське', 'Яворів', 'Комарно', 'Бахчисарай', 'Ладижин',
       'Мала Виска', 'Ічня', "Кам'янець-Подільський", 'Судак ', 'Ялта',
       'Лутугине', 'Щастя ', 'Городня', 'Бахмач', 'Монастирище',
       'Немирів', "Прип'ять ", 'Хрустальний', 'Носівка', 'Городок',
       'Соледар', 'Кагарлик', 'Тернівка ', 'Винники', 'Олешки', 'Узин',
       'Красилів', 'Яготин', 'Белз', 'Дебальцеве', 'Глобине',
       'Петрово-Красносілля', 'Рубіжне', 'Пологи ', 'Жидачів',
       'Березівка', 'Жовква', 'Білгород-Дністровський', 'Вознесенівка',
       'Костянтинівка', 'Добропілля', 'Долина ', 'Стрий', 'Авдіївка',
       'Часів Яр', 'Березань ', 'Святогірськ', 'Гайсин', 'Овруч',
       'Курахове', 'Алмазна', 'Славутич', 'Острог', 'Житомир',
       'Перещепине', 'Харків', 'Українка ', 'Семенівка', 'Шахтарськ',
       'Ровеньки', 'Дунаївці', 'Краматорськ', "Кам'янське", 'Миргород',
       'Глиняни', 'Самбір', 'Малин', "Зимогір'я", 'Дубно', 'Луганськ',
       'Першотравенськ', 'Кіцмань', 'Сарни', 'Турка', 'Славута',
       'Світловодськ', 'Баранівка', 'Єнакієве', 'Тиврів', 'Інкерман',
       'Львів', 'Ходорів', 'Борзна', 'Березне', 'Охтирка', 'Гайворон',
       'Канів', 'Одеса', 'Люботин', 'Луцьк', 'Волноваха', 'Нетішин',
       'Рахів', 'Хотин', 'Балаклія', 'Южноукраїнськ', 'Феодосія',
       'Іршава', 'Дубляни', 'Кременець', 'Очаків', 'Теплодар',
       'Здолбунів', 'Угнів', 'Олександрівськ', 'Тараща', 'Попасна',
       'Хоростків', 'Броди', 'Рогатин', 'Бердянськ', 'Заставна',
       'Новоград-Волинський', 'Гадяч', 'Обухів',
       "Кам'янка (Черкаська область)", 'Кропивницький', 'Вовчанськ',
       'Зугрес', 'Гребінка', 'Борщів', 'Новоукраїнка', 'Кривий Ріг',
       'Умань', 'Боярка', 'Зміїв', 'Бахмут', 'Благовіщенське', 'Сокаль',
       'Чорноморськ', 'Рені', 'Бунге ', 'Бібрка', 'Вишгород', 'Козятин',
       'Суходільськ', 'Буськ', "Слов'янськ", 'Ямпіль', 'Нікополь',
       'Ржищів', 'Ланівці', 'Горішні Плавні', 'Трускавець', 'Донецьк',
       'Вуглегірськ', 'Пирятин', 'Старий Крим', 'Мостиська', 'Копичинці',
       'Соснівка ', 'Вараш', 'Хрестівка', 'Снігурівка', 'Торецьк',
       'Берегове', 'Красногорівка', 'Новогродівка', 'Кадіївка',
       'Подільськ', 'Судова Вишня', 'Новий Калинів', 'Гуляйполе',
       'Моспине', 'Генічеськ', 'Чернівці', 'Богуслав', 'Перемишляни',
       'Вишневе ', 'Прилуки', 'Решетилівка', 'Іллінці', 'Сколе',
       'Полонне', 'Хуст', 'Могилів-Подільський', 'Гірник ', 'Дружківка',
       'Географія Вільнянська', 'Ужгород', 'Родинське', 'Хирів',
       'Любомль', 'Шпола', 'Липовець', 'Бобринець', 'Валки ',
       'Рава-Руська', 'Гнівань', 'Черкаси', 'Сватове', 'Коростишів',
       'Вугледар', 'Пустомити', 'Миколаїв', 'Бережани', 'Ватутіне',
       'Сніжне', 'Баштанка', 'Сокиряни', 'Мелітополь', 'Золоте', 'Мена ',
       'Вижниця', 'Карлівка', 'Приморськ (Україна)', 'Красноперекопськ',
       'Золочів', 'Бурштин ', 'Хорол ', 'Сорокине', 'Берислав',
       'Заліщики', 'Первомайськ', 'Городенка', "Мар'їнка", 'Остер ',
       'Ірміно', 'Молодогвардійськ', 'Сторожинець', 'Вашківці', 'Кипуче',
       'Рівне', 'Долинська', 'Лубни', 'Маріуполь', 'Татарбунари',
       'Калинівка ', 'Кодима', 'Радивилів', 'Саки ', 'Чорнобиль',
       "Сулимівка (Слов'янськ)", 'Дрогобич', 'Новоселиця', 'Буча',
       'Новояворівськ', 'Федорівка', 'Бердичів', 'Старобільськ',
       'Волочиськ', 'Южне', 'Шостка', 'Бровари', 'Біла Церква', 'Ананьїв',
       'Новий Розділ', 'Великі Мости', 'Коростень', 'Армянськ',
       'Бориспіль', 'Підгайці', 'Добромиль', 'Кобеляки', 'Моршин',
       'Новоазовськ', 'Джанкой', 'Брянка', 'Глухів', 'Бершадь', 'Ізмаїл',
       'Євпаторія', 'Сєвєродонецьк', 'Міусинськ', 'Чистякове', 'Сміла',
       'Дубровиця', 'Підгородне', 'Олександрія', 'Чортків',
       'Хмельницький', 'Антрацит ', 'Докучаєвськ', 'Золотоноша',
       'Кремінна', 'Погребище', 'Селидове', 'Чуднів', 'Галич',
       'Христинівка', 'Кролевець', 'Ківерці', 'Бар', 'Середина-Буда',
       'Богодухів', 'Барвінкове', 'Ізяслав', 'Синельникове', 'Фастів',
       'Бучач', 'Герца', 'Тульчин', 'Старокостянтинів', 'Білозерське',
       'Роздільна', 'Скадовськ', 'Київ', 'Берестечко', "Кам'янка-Бузька",
       'Оріхів', 'Боково-Хрустальне', 'Нове Давидково', 'Лисичанськ',
       'Борислав', 'Тлумач', 'Свалява', 'Камінь-Каширський',
       "Кам'янка-Дніпровська", 'Павлоград', 'Херсон', 'Ізюм', 'Радехів',
       'Балта', 'Почаїв', 'Вільногірськ', 'Сквира', 'Деражня',
       'Корсунь-Шевченківський', 'Івано-Франківськ', 'Буринь',
       'Шепетівка', 'Токмак', 'Світлодарськ', 'Шумськ',
       'Володимир-Волинський', 'Полтава', 'Устилуг', 'Ворожба',
       'Верхівцеве', 'Надвірна', 'Нова Каховка', 'Стебник', 'Марганець ',
       'Червоносів', 'Вінниця', 'Жовті Води', 'Первомайський ', 'Снятин',
       'Новий Буг', 'Покров', 'Миколаївка ', 'Корюківка', 'Перевальськ',
       'Красноград', 'Старий Самбір', 'Дергачі', 'Ясинувата', 'Довжанськ',
       'Новодністровськ', 'Рожище', 'Тисмениця', 'Чугуїв', 'Кременчук',
       'Вільнянськ', 'Залізне', 'Нововолинськ', 'Біляївка', 'Виноградів',
       'Васильків', 'Сіверськ', 'Ніжин', 'Білицьке', 'Батурин',
       'Молочанськ', 'Тернопіль', 'Гола Пристань', 'Городище ',
       'Дніпрорудне', 'Південне ', 'Алупка', 'Теребовля', "П'ятихатки",
       'Макіївка', 'Монастириська', 'Керч', 'Голубівка', 'Яремче',
       'Новгород-Сіверський', 'Новодружеськ'], dtype=object)

# 12. How many students have average_mark more than 60?

In [82]:
df[df['average_mark'] >= 60].count()

first_name                 403
last_name                  403
birth_date                 403
average_mark               403
count_of_lessons_absent    403
count_of_lessons_sick      403
gender                     403
city                       403
age                        403
dtype: int64

In [83]:
df.shape

(990, 9)

# 14. Generate new dataframe with female students

In [84]:
female_df = df[df['gender'] == 'Female']

In [85]:
female_df

,first_name,last_name,birth_date,average_mark,count_of_lessons_absent,count_of_lessons_sick,gender,city,age
id,,,,,,,,,
4,Лариса,Гайдабура,2004-05-05,46.0,0,0,Female,Нова Одеса,19.810553
5,Лариса,Цушко,2008-06-05,82.0,9,4,Female,Рудки,15.722882
6,Аліна,Іванченко,2006-06-09,87.0,8,2,Female,Сімферополь,17.714663
8,Марта,Демʼяненко,1995-07-18,32.0,8,8,Female,Перечин,28.616032
9,Тетяна,Тарасенко,1998-04-22,89.0,2,0,Female,Мерефа,25.851649
...,...,...,...,...,...,...,...,...,...
994,Оксана,Парасюк,1993-03-27,88.0,6,5,Female,Житомир,30.925621
996,Дарина,Тесля,2002-08-30,37.0,6,5,Female,Бережани,21.492745
997,Амалія,Остапчук,2007-04-24,58.0,2,1,Female,Бурштин,16.840690
998,Галина,Швайка,2008-08-02,92.0,8,2,Female,Курахове,15.563978
999,Світлана,Корпанюк,2002-04-30,63.0,10,6,Female,Обухів,21.826991

In [86]:
female_df.to_csv('student_female.csv')

# More file formats

In [94]:
import openpyxl
df.to_excel('students.xlsx')
df.to_json('students.json')
df.to_html('students.html')
# df.to_sql('students', 'sqlite:///students.db')
df.to_xml('students.xml')

In [103]:
pd.DataFrame.from_dict({'city': df['city'].unique()}).to_csv('cities.csv')